
.specimen-view-content {
    padding: $layout-padding-xs 0;

    @media screen and (min-width: $tablet) {
        padding: $layout-padding-md;
        padding-bottom: 0;
    }
    @media screen and (min-width: $widescreen){
        padding-left: 1rem;
    }
}
