
.specimen-page-content {

    @media screen and (min-width: $tablet) {
        padding: $layout-padding-md;
    }

    @media screen and (min-width: $desktop) {
        padding: $layout-padding-lg;
    }

    @media screen and (min-width: $widescreen) {
        padding: $layout-padding-xl;
    }
}
