
.specimen-tile {
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 2rem;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $specimen-tile-border-radius;

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        display: block;
        opacity: .85;
        background: $primary;
        top: 0; bottom: 0; left: 0; right: 0;
    }

    .specimen-tile-meta-wrap { z-index: 1; }
}

.specimen-tile-shadow {
    position: absolute;
    z-index: 1;
    transition: background-color .25s;
    background: rgba(0,0,0,.05);
    display: block;
    opacity: 1;
    border-radius: $specimen-tile-border-radius;
    top: $specimen-tile-shadow-offset;
    bottom: -$specimen-tile-shadow-offset;
    left: $specimen-tile-shadow-offset;
    right: -$specimen-tile-shadow-offset;
}

.specimen-tile-container {

    .specimen-tile-meta, .specimen-tile:after {
        transition: opacity .25s;
    }

    &:not(:hover) {
        .specimen-tile-meta, .specimen-tile:after {
            opacity: 0;
        }
    }

    &:hover .specimen-tile-shadow {
        background: rgba(141,151,227,.25);
    }
}
