
.specimen-tile {
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $specimen-tile-border-radius;

    @media (hover: none) { padding: .5rem; }
    @media screen and (min-width: 1660px) {
        height: 500px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        display: block;
        opacity: .85;
        background-color: $primary-gradient-1;
        background: linear-gradient(-45deg, $primary-gradient-1, $primary-gradient-2);
        top: 0; bottom: 0; left: 0; right: 0;
    }

}
.specimen-tile-meta-wrap {
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 2rem;
}

.specimen-tile-shadow {
    position: absolute;
    z-index: 1;
    background: $specimen-tile-shadow-color;
    box-shadow: 0 0 2px 1px $specimen-tile-shadow-color;
    display: block;
    opacity: 1;
    border-radius: $specimen-tile-border-radius;
    top: 0; bottom: 0; left: 0; right: 0;
}

.specimen-tile-meta-category { color: $primary; }

.specimen-tile-container {

    margin: 2rem 1rem;

    .specimen-tile:after,
    .specimen-tile-shadow {
        transition-timing-function: cubic-bezier(1.0, 0.1, 0.1, 1.0);
        transition: opacity .25s;
    }

    @media (hover: hover) {
        .specimen-tile-meta {
            position: absolute;
            bottom: 0;
            left: 0; right: 0;
            transition-timing-function: cubic-bezier(1.0, 0.1, 0.1, 1.0);
            transition: opacity .25s, bottom .5s;
        }
        &:not(:hover) {
            .specimen-tile-meta,
            .specimen-tile:after,
            .specimen-tile-shadow { opacity: 0; }

            .specimen-tile-meta {
                transition-timing-function: ease-in-out;
                transition: opacity .15s, bottom .5s;
                bottom: 10%;
            }
        }

    }

}

@media (hover: none) {
    .specimen-tile-meta {
        opacity: 1;
        background-color: $primary-gradient-1;
        background: linear-gradient(-45deg, $primary-gradient-1, $primary-gradient-2);
    }

    .specimen-tile-meta-category,
    .specimen-tile-meta-title,
    .specimen-tile-meta-icon { color: $white; }

    .specimen-tile:after,
    .specimen-tile-shadow { opacity: 0; }
}

.specimen-tile-bg-top-left .specimen-tile { background-position: top left; }
