.margin-top--xl {
    margin-top: 5rem;
}

.margin-bottom--md {
    margin-bottom: 1.5rem;
}

.padding-top--xl {
    padding-top: 5rem;
}

.is-full-width {
    width: 100%;
}

.is-margin-centered {
    margin-left: auto;
    margin-right: auto;
}
