
/* Typography
---------------------------------------------------- */
$family-primary: 'Big Shoulders Text', cursive;
$title-weight: 900;

/* Color
---------------------------------------------------- */
$primary: #6475F8;
