
// Setup
@import "variables/default";
@import "mixins/mixins";

// Vendor
@import "~bulma/bulma";

@import "variables/generic";

// Utilities
@import "typography";
@import "utilities/utilities";

// Components
@import "navbar";
@import "components/cards";

// Views
@import "app";

img[lazy=loading] {
  position: relative;
  border: 3px dashed rgba(255,255,255,.15);
  height: 200px;
}
