
/* Typography
---------------------------------------------------- */
$family-primary: 'Big Shoulders Text', Helvetica, Arial, sans-serif;
$title-weight: 900;


/* Color
---------------------------------------------------- */
$primary: #6475F8;
$grey-lighter: #E6E6E6;
$grey-lightest: #EFEFEF;
$white-ter: #F7F7F7;
$black: #000000;


$border-radius-3: 3px;
$border-radius-10: 10px;

$body-background-color: $black;
