
/* Typography
---------------------------------------------------- */
$family-primary: 'Big Shoulders Text', cursive;
$title-weight: 900;


/* Color
---------------------------------------------------- */
$primary: #6475F8;
$grey-lighter: #E6E6E6;
$grey-lightest: #EFEFEF;
$white-ter: #F7F7F7;