

/* App Layout
---------------------------------------------------- */
$navbar-width--desktop: 17rem;
$navbar-width--widescreen: 17rem;
$navbar-width--fullhd: 17rem;

$navbar-background-color: $white-ter;

$layout-padding-sm: 3rem;
$layout-padding-md: 4.25rem;
$layout-padding-lg: 5.75rem;
$layout-padding-xl: 6.5rem 6rem;


/* Wells
---------------------------------------------------- */
$well-color: $grey-lightest;
$well-gradient-start: $well-color;
$well-gradient-middle: $well-gradient-start;
$well-gradient-end: rgba(239,239,239,0);

$well-dark-color: $grey-lighter;

$well-radius: $border-radius-3;

/* Specimen View
---------------------------------------------------- */

$specimen-page-background-color: $white-ter;
