

/* App Layout
---------------------------------------------------- */
$navbar-width--desktop: 18rem;
$navbar-width--widescreen: 21rem;
$navbar-width--fullhd: 21rem;

$navbar-background-color: $white-ter;
