

/* App Layout
---------------------------------------------------- */
$navbar-width--desktop: 18rem;
$navbar-width--widescreen: 21rem;
$navbar-width--fullhd: 21rem;

$navbar-background-color: $white-ter;


/* Wells
---------------------------------------------------- */
$well-color: $grey-lightest;
$well-gradient-start: $well-color;
$well-gradient-middle: $well-gradient-start;
$well-gradient-end: rgba(239,239,239,0);

$well-dark-color: $grey-lighter;

$well-radius: $border-radius-3;
